<%- include('../partials/headerCust') %>

<h1>Find What You're Cravin</h1>

<h3>Start New Search</h3>
<form class="custform" action="/customer/index" method="GET">
    <label>Activity: 
        <select name="activity" multiple>
            <% tags.forEach(function(tag) { %>
            <% if(tag.category === 'activity') { %>
                <option value="<%= tag.id%>"><%= tag.tag %></option>
            <% } %>
            <% }) %>
        </select>
    </label><br>
    <label>Base:&nbsp&nbsp&nbsp&nbsp&nbsp
        <select name="base" multiple>
            <% tags.forEach(function(tag) { %>
                <% if(tag.category === 'base') { %>
                    <option value="<%= tag.id%>"><%= tag.tag %></option>
                <% } %>
                <% }) %>
        </select>
    </label><br>
    <label>Character: 
        <select name="character" multiple>
            <% tags.forEach(function(tag) { %>
                <% if(tag.category === 'character') { %>
                    <option value="<%= tag.id%>"><%= tag.tag %></option>
                <% } %>
                <% }) %>
        </select><br>
    </label><br>
    <button type="submit" value="Add Search">Show Me</button>
</form>

<%- include('../partials/footer') %>