<%- include('../partials/headerComm') %>

    
    <form action="/commercial/new" method="POST">
        <h3>Add New Restaurant</h3>
        <label>Name:
          <input type="text" name="name">
        </label><br>
        <label>Address:
          <input type ="text" name="address">
        </label><br>
        <label>Price (From 1 to 5):
              <input type="number" name="price">
        </label><br>
        <label>Activity: 
          <select name="activity" multiple>
              <% tags.forEach(function(tag) { %>
                <% if(tag.category === 'activity') { %>
                    <option value="<%= tag.id%>"><%= tag.tag %></option>
                <% } %>
              <% }) %>
          </select>
        </label><br>
        <label>Base:
            <select name="base" multiple>
                <% tags.forEach(function(tag) { %>
                    <% if(tag.category === 'base') { %>
                        <option value="<%= tag.id%>"><%= tag.tag %></option>
                    <% } %>
                  <% }) %>
            </select>
        </label><br>
        <label>Character: 
            <select name="character" multiple>
                <% tags.forEach(function(tag) { %>
                    <% if(tag.category === 'character') { %>
                        <option value="<%= tag.id%>"><%= tag.tag %></option>
                    <% } %>
                  <% }) %>
            </select><br>
        <label>Flavour Level (From 1 to 5): 
            <input type="number" name="flavour">
        </label><br>
        <button type="submit" value="Add Restaurant">Add Restaurant</button>
    </form>

<%- include('../partials/footer') %>