<%- include('../partials/headerComm') %>

    <table class="index" id="show">
            <tr>
                <th>Restaurant: </th>
                <td><%= restaurant.name %> </td>
            </tr>
            <tr>
                <th>Address: </th>
                <td><%= restaurant.address %></td>
            </tr>
            <tr>
                <th>Price: </th>
                <td><%= restaurant.price %></td>
            </tr>
            <tr>
                <th>Activity: </th>
                <% restaurant.activity.forEach(function(item) { %>
                <td><%= item.tag %></td>
                <% }) %>
            </tr>
            <tr>
                <th>Base: </th>
                <% restaurant.base.forEach(function(item) { %>
                <td><%= item.tag %></td>
                <% }) %> 
            </tr>
            <tr>
                <th>Character: </th>
                <% restaurant.character.forEach(function(item) { %>
                <td><%= item.tag %></td>
                <% }) %> 
            </tr>    
                <th>Flavour: </th>
                <td><%= restaurant.flavour %></td>
            </tr>
    </table><br><br><br>
    <form class="deleteform" action="/commercial/show/<%= restaurant.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Remove Restaurant</button>
    </form>   

<%- include('../partials/footer') %>


